@import url(vars.css);
.body {

    margin: 0;
    padding: 0;
    justify-content: center;
}

/*Header*/
.hero-container {
    background:url(../img/header\ categories.png);
    background-size: cover;
    padding: 0;
    margin-top: 0;
    width: 100%;
    height: min(60rem, 65rem, 70rem);
    display: grid;

}

.hero-container-recipes {
    background: var(--clr-cart);
    padding: 0;
    margin-top: 0;
    display: grid;
}

.nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.nav-list {
    display: flex;
    margin: 3rem 12rem;
    gap: 1.5rem;
    list-style: none;
    text-decoration: none;
    font-size: var(--fs-sm);
    font-family: var(--ff-main);
    font-weight: var(--fw-bk);

}

.nav-list-recipe {
    display: flex;
    margin-left: 70rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    gap: 1.5rem;
    list-style: none;
    text-decoration: none;
    font-size: 1.7rem;
    font-family: var(--ff-main);
    font-weight: var(--fw-bk);
}

.nav-link {
    text-decoration: none;
    color: var(--clr-white);
    margin: 0;
    padding: 0;
}

.hero-tittle-categories {
    color: var(--clr-white);
    display: grid;
    font-size: var(--fs-xl);
    font-family: var(--ff-main);
    font-weight: var(--fw-bk);
    margin-left: 12rem;

}

.logo {
    width: 10rem;
    height: 9.5rem;
    margin: 1rem;
}

.logo-recipes {
    width: 4rem;
    height: 3.5rem;
    margin: 1rem;
}
.categories-full-container{
    display: block;
}
.categorie-container{
    display: block;
    justify-content: center;
    margin: 10rem ;
    border: 1.5rem solid var(--clr-main);
    padding: 2.5rem;

    
}
.categories-tittle{
    color: var(--clr-main);
    font-size: var(--fs-md);
    font-family: var(--ff-main);
    font-weight: var(--fw-bk);
    margin: 0 2.5rem;
    text-align: center;
}
.categorie-recipe{
    display: block;
    color: var(--clr-main);
    font-size: var(--fs-sm);
    font-family: var(--ff-main);
    font-weight: var(--fw-rg);
    margin: 1rem;
    text-align: center;
    text-decoration: none;
}

