@import url(./vars.css);

.body {
    display: grid;
    margin: 0;
    padding: 0;
    
}

/*Header*/
.hero-container {
    display: flex;
    background: linear-gradient(0deg , rgba(16, 25, 69, 0.57), rgba(16, 25, 69, 0.57)) , url(../img/image\ 6.png) no-repeat;
    background-size: cover;
    height: 50rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
/*categories page*/
.hero-container-categories {
    display: flex;
    background: linear-gradient(0deg , rgba(16, 25, 69, 0.57), rgba(16, 25, 69, 0.57)) , url(../img/image\ 6.png) no-repeat;
    background-size: cover;
    height: 40rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
/*categories page*/

.nav {
    display: grid;
    grid-template-columns: .1fr 1fr ;
    background-color: var(--clr-white);
    align-items: center;
   
}

.nav-divisor {
    border-left: 4x solid var(--clr-black);
    height: 1rem;
    display: inline-block;
}

.nav-list {
    margin-left: 60rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    font-size: var(--fs-sm);
    font-family: var(--ff-main);
    font-weight: 500;

}

.nav-link {
    text-decoration: none;
    color: var(--clr-black);
    margin: 0;
    padding: 0;
}

.hero-tittle {
   
    color: var(--clr-white);
    text-align: center;
    font-size: var(--fs-xl);
    font-family: var(--ff-main);
    font-weight: var(--fw-rg);
    
    z-index: 1;

}

.logo {
    width: 10rem;
   
}


/*Header*/


/*Body*/

.categories-tittle{
    color: var(--clr-black);
    text-align: center;
    font-size: var(--fs-lg);
    font-family: var(--ff-main);
    font-weight: var(--fw-rg);
    margin-top: 4rem;
}

.red-bar {
    width: 168.442px;
    height: 4px;
    background: #F00;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
}

.categories {

    border-radius: 3rem;
    display: grid;
    width: 60vw;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5em;
}


.categories-div {
    display: grid;
    margin: 1.5rem;
    border-radius: 2rem;
    padding: 2rem 1rem;
    justify-content: center;
}



/*categories page*/
.categorie-type{
    font-size: var(--fs-md);
}
.categories-full-container{
    display: block;
}
.categorie-container{
    display: block;
    justify-content: center;
    margin: 10rem ;
    border: .5rem solid var(--clr-cart);
    padding: 2.5rem;
    border-radius: 3rem;

}

.categories-main-tittle{
    color: var(--clr-cart);
    font-size: var(--fs-md);
    font-family: var(--ff-main);
    font-weight: var(--fw-bk);
    margin: 0 2.5rem;
    text-align: center;
}

.categorie-recipe{
    display: block;
    color: var(--clr-cart);
    font-size: var(--fs-sm);
    font-family: var(--ff-main);
    font-weight: var(--fw-rg);
    margin: 1rem;
    text-align: center;
    text-decoration: none;
}
/*categories page*/



.menu-container {
    display: grid;
    margin: auto;
    justify-content: center;
    align-items: center;

}

.menu-tittle {
    color: var(--clr-main);
    font-family: var(--ff-main);
    font-size: var(--fs-lg);
    font-weight: var(--fw-bk);
    margin: 5rem 5rem 2rem;
    text-align: center;
    gap: 1rem;

}

.recipes-container {
    display: grid;
    grid-template-columns: .1fr .1fr .1fr;
    margin: auto;
}

.card-container {
    height: 30rem;
    width: 30rem;
    margin: 1.5rem;
    position: relative;

}

.card-container div {
    display: grid;
    position: absolute;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s;
    grid-template-columns: repeat(auto-fit, minmax(400px, .30fr));
    border-radius: 3rem;
}

.card-image {
    height: 30rem;
    width: 30rem;
}


/*PRUEBAS DE GIRO*/

.front {

    transform: perspective(500px) rotateY(0deg);
}

.back {
    background: var(--clr-cart);
    height: 30rem;
    width: 30rem;
    transform: perspective(500px) rotateY(180deg);
}

.card-container:hover .front {
    transform: perspective(500px) rotateY(180deg);
}

.card-container:hover .back {

    transform: perspective(500px) rotateY(360deg);
}

/*PRUEBAS DE GIRO*/

.Tittle-recipe {
    display: flex;
    font-family: var(--ff-main);
    font-size: var(--fs-md);
    font-weight: var(--fw-bk);
    text-align: left;
    color: var(--clr-white);
    margin: 2rem 0 0 0;
}

.recipes {
    display: flex;
    font-family: var(--ff-main);
    font-size: var(--fs-nm);
    font-weight: var(--fw-rg);
    text-align: left;
    color: var(--clr-white);
    margin: 0;
}

.price {
    margin-bottom: 1rem;
    font-weight: 700;
}

.amount {
    position: absolute;
    top: 25.5rem;
    left: 26.5rem;
}

.shop {
    position: absolute;
    top: 4rem;
    left: 22rem;
}

.user {
    position: absolute;
    top: 24rem;
    left: 22rem;
}

.more {
    position: absolute;
    top: 27rem;
    left: 13rem;
}

/*Body*/

/*footer*/
.footer {
    display: flex;
    width: 116.5rem;
    height: 29rem;
    background: var(--clr-secondary);
    border-top-left-radius: 6rem;
    border-top-right-radius: 6rem;
    margin: 5rem 0 0;
    align-items: center;
    justify-content: center;
}

.footer-container {
    font-family: var(--ff-main);
    font-weight: var(--fw-rg);
    color: var(--clr-cart);
    display: block;
    text-align: center;

}


.link{
  margin: 1rem;  
}

.footer-tittle {
 font-size: 4rem;
 font-weight: var(--fw-rg);
 margin: 1.5rem;
}
.footer-text{
    font-weight: var(--fw-rg);
    margin: 1.5rem;
}
.copyright {
    margin: 1.5rem;
    font-weight: var(--fw-bk);
}

@media(max-width:768.98px) {}