@import url("./abstracts/vars.css");

@import url("./base/base.css");
@import url("./base/typography.css");

@import url("layout/footer.css");
@import url("layout/forms.css");
@import url("layout/grid.css");
@import url("layout/header.css");
@import url("layout/navigation.css");

@import url("components/components.css");

/* temporal search form */
.search-form-container {
  display: flex;
  justify-content: center;
}
.search {
  display: flex;
  width: auto;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 4rem;
  background: var(--clr-light-gray);
  justify-content: center;
}
.search-text {
  border-radius: 2rem;
  border: none;
  font-family: var(--ff-main);
  font-size: var(--fs-xs);
  font-weight: var(--fw-md);
  padding: 1rem;
  width: 30vw;
}
.search-btn {
  background: var(--clr-redline);
  border-radius: 1.5rem;
  border: none;
  color: var(--clr-white);
  font-family: var(--ff-main);
  font-size: var(--fs-sm);
  font-weight: var(--fw-md);
  padding: 0.4rem 4rem;
  text-align: center;
  text-decoration: none;
  margin-left: 1rem;
}

/* temporal search form  */

/* New Menu Start */
.card-container {
  width: 30rem;
}

.card {
  --flip-card-border-radius: 2.5rem;
  --flip-card-height: 30rem;
  --flip-card-background-color-front: LightSkyBlue;
  --flip-card-background-color-back: var(--clr-cart);
  --flip-card-box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.menu-container {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(26.25rem, 1fr));
  justify-content: center;
  justify-items: center;
  margin: 3rem;
}

.card-image {
  height: 100%;
  width: fit-content;
}

.card-details-text-container {
  margin: 2rem;
}

.card-details {
  height: var(--flip-card-height);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

@media (max-width: 600px) {
  .card-container {
    width: 20rem;
  }

  .card {
    --flip-card-height: 20rem;
  }
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: var(--ff-main);
}

@media (max-width: 1280px) {
  .menu-container {
    margin: 5rem 0;
    grid-template-columns: 1fr;
  }

  .card-image {
    height: 20rem;
    width: 20rem;
  }

  .back {
    height: 20rem;
    width: 20rem;
  }

  .header-title {
    font-size: 4rem;
  }
}

/* New Menu Ending */

/* navbar */

/* navbar */

@media (max-width: 600px) {
  .hero-tittle {
    font-size: var(--fs-lg);
  }

  /* .hero-text {
        font-size: var(--fs-sm);
        text-align: center;
        width: 80dvw;
    } */

  .hero-btn {
    font-size: var(--fs-nm);
    padding: 0.5rem 2rem;
  }

  .delights-tittle {
    font-size: var(--fs-md);
  }

  .categories-tittle {
    font-size: var(--fs-md);
  }

  .footer {
    height: 40rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    margin: 5rem 0 0 0;
  }

  .link {
    margin: 1rem;
    height: 5rem;
    width: 5rem;
  }

  .categorie-container {
    margin: 1rem;
    border: 0.5rem solid var(--clr-cart);
    padding: 2.5rem;
    border-radius: 3rem;
  }
  .login-tittle {
    font-size: var(--fs-md);
  }
  .forgot-password {
    margin-left: 0;
  }
  .check-container {
    flex-direction: column;
  }
  .remember-check {
    margin-top: .5rem;
  }
}

/* temporal 2 */

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }

  /* Navigation bar */
  .nav-links {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 92vh;
    position: absolute;
    right: 0px;
    top: 8vh;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    width: 50%;
  }

  /* search form in Homepage */
  .search-text {
    width: 50vw;
  }
  .search-btn {
    padding: 0.4rem 1rem;
  }
  /* search form in Homepage */

  .nav-links li {
    opacity: 0;
  }

  .bottom {
    display: block;
  }

  /* Navigation bar */

  .Tittle-recipe {
    font-size: var(--fs-nm);
  }

  .recipes {
    font-size: var(--fs-xs);
  }

  .recipes h3 {
    margin-top: 0.5rem;
  }
  .more {
    left: 13rem;
    position: absolute;
    top: 16rem;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-40deg) translate(-5px, 6px);
}

.toggle .line2 {
  transform: rotate(90deg) translate(0px, 0px);
}

.toggle .line3 {
  transform: rotate(35deg) translate(-5px, -6px);
}

/* temporal 2 */

/* new dish description page */
/* .description-header-container{
  height: min(42rem, 50rem, 60rem);
  align-items: center;
  background: #f7f7f7 no-repeat 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  position: fixed;
} */

.description-header-container {
  background: #f7f7f7 no-repeat 50% 50%;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 100%;
}

.description-header-image-container {
  display: flex;
}

@media screen and (max-width: 768px) {
  /*.description-header-container{
    grid-template-columns: 1fr;
  }
  .header-text {
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
  }
  .header-dish-image{
    width: 70%;
  }
}
new dish description page */
  .header-container {
    display: flex;
    flex-direction: column;
  }
  .header-text {
    margin: 0 6rem 4rem;
    text-align: center;
    width: 75vw;
  }
  .header-title {
    font-size: var(--fs-md);
    margin: 3rem;
  }

  .header-link-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 0;
    margin-top: 0.5rem;
  }
  .header-description {
    width: 80vw;
    color: var(--clr-purple);
  }
  .header-image-container {
    margin: auto;
  }
  .atc-btn {
    width: 100%;
  }
  .add-to-car-container {
    display: flex;
    flex-direction: column;
  }
  .related-title {
    font-size: var(--fs-s);
    font-weight: var(--fw-bl);
    margin: 1rem 2rem;
  }
  .related-dishes-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 80rem;
    margin: 3rem;
  }
  .related-div {
    height: 80vw;
  }

  .related-dish {
    width: 80vw;
  }
}
