@import url('./abstracts/vars.css');

@import url('./base/base.css');
@import url('./base/typography.css');

@import url('layout/footer.css');
@import url('layout/forms.css');
@import url('layout/grid.css');
@import url('layout/header.css');
@import url('layout/navigation.css');

@import url('components/components.css');

@media (max-width: 1280px) {

    .menu-container {
        margin: 16rem 0;
    }

    .card-image {
        height: 20rem;
        width: 20rem;

    }

    .back {
        height: 20rem;
        width: 20rem;
    }

}

@media (max-width: 600px) {

    .hero-tittle {
        font-size: var(--fs-lg);

    }

    .hero-text {
        font-size: var(--fs-sm);
        text-align: center;
        width: 80dvw;

    }


    .hero-btn {
        font-size: var(--fs-nm);
        padding: 0.5rem 2rem;
    }

    .delights-tittle {
        font-size: var(--fs-md);
    }


    .categories-tittle {
        font-size: var(--fs-md);
    }

    .footer {
        height: 40rem;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        margin: 5rem 0 0 0;

    }

    .link {
        margin: 1rem;
        height: 5rem;
        width: 5rem;
    }

    .categorie-container {
        margin: 1rem;
        border: .5rem solid var(--clr-cart);
        padding: 2.5rem;
        border-radius: 3rem;

    }



}