:root {
    /*fonts */
    --ff-main: 'Outfit', sans-serif;
    /*font size*/
    --fs-xl: 8rem; 
    --fs-lg: 5rem;
    --fs-md: 2.5rem;
    --fs-nm: 1.8rem; 
    --fs-sm: 1.7rem;
    /*font weight*/
    --fw-bk: 700 ;
    --fw-rg: 300 ;
    /*colors*/

    --clr-main: #D94829;
    --clr-secondary: #FFB900;
    --clr-cart: #305F3B;
    --clr-white: #fff;
    --clr-black:#000;

}