.footer {
    align-items: center;
    background: var(--clr-secondary);
    border-top-left-radius: 6rem;
    border-top-right-radius: 6rem;
    display: flex;
    height: 29rem;
    justify-content: center;
    margin: 5rem 0 0;
    width: 100vw;
}

.footer-container {
    color: var(--clr-cart);
    display: block;
    font-family: var(--ff-main);
    font-weight: var(--fw-lg);
    text-align: center;

}