.select-categorie {
    margin-top: 2rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
}

.red-bar {
    width: 168.442px;
    height: 4px;
    background: #F00;
    margin: auto;
    margin-top: 2rem;
}

.categories {
    border-radius: 3rem;
    display: grid;
    width: 80vw;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5em;
}

.categories-div {
    display: grid;
    margin: 1rem;
    background: var(--clr-gray);
    border-radius: 2rem;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.categorie-image {
    margin: auto;
}

.categories-full-container {
    display: block;
    width: 100vw;

}

.categorie-container {
    display: block;
    justify-content: center;
    margin: 10rem;
    border: .5rem solid var(--clr-cart);
    padding: 2.5rem;
    border-radius: 3rem;


}

.top_ten {
    display: flex;
    background: linear-gradient(0deg, rgba(16, 25, 69, 0.57), rgba(16, 25, 69, 0.57)), url(../../imgs/taco\ de\ res.jpg) no-repeat;
    background-size: cover;
    height: 40rem;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu-container {
    display: flex;
    margin: 8rem 0;
    flex-direction: column;
    align-content: center;
    background: var(--clr-gray);
    border-radius: 5rem;
    width: 100vw;
}

.price {
    margin-bottom: 1rem;
    font-weight: 700;
}

.amount {
    position: absolute;
    top: 24.5rem;
    left: 29rem;
}

.shop {
    position: absolute;
    top: 4rem;
    left: 24rem;
}

.user {
    position: absolute;
    top: 23rem;
    left: 24rem;
}


/* dish description page */
.price-container {
    align-content: center;
    background: var(--clr-white);
    border-radius: 2rem;
    border: .2rem solid;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.quantity-container {
    align-content: center;
    background-color: var(--clr-purple);
    border-radius: 2rem;
    display: flex;
    gap: 2rem;
    overflow: hidden;
}

.add-to-car-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}
.atc-container {
    display: flex;
}
/* dish description page */

/* top dishes page beginning */
.header-text-container {
    color: var(--clr-white);
    display: grid;
    grid-template-rows: 3fr 1fr 1fr 1fr;
    padding: 10%;
}
.slider-header-container {
    background-size: cover;
    display: grid;
    grid-template-columns: .7fr 1fr;
    height: 100%;
    position: fixed;
    width: 100%;
}
.slider-button-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 6rem;
    margin-left: 3rem;
    margin-top: 2rem;
    width: 12rem;
}
.order-btn-container {
    align-items: center;
    border-radius: 2rem;
    border: 0.05rem solid var(--clr-white);
    display: flex;
    height: 3rem;
    text-align: center;
    width: 11rem;
}
.slider-header-container {
    background-size: cover;
    display: grid;
    grid-template-columns: .7fr 1fr;
    height: 100%;
    position: fixed;
    width: 100%;
}
/* top dishes page ending */