.hero-container {
    height: min(42rem, 50rem, 60rem);
    align-items: center;
    background: linear-gradient(0deg, rgba(16, 25, 69, 0.57), rgba(16, 25, 69, 0.57)), url(../../imgs/taco-res.jpg) no-repeat 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

/*categories page*/
.hero-container-categories {
    align-items: center;
    background: linear-gradient(0deg, rgba(16, 25, 69, 0.57), rgba(16, 25, 69, 0.57)), url(../../imgs/taco-res.jpg) no-repeat;
    background-size: cover;
    display: flex;
    height: 40rem;
    justify-content: center;
    width: 100vw;
}

/* dish description page beginning*/
.header-container {
    background-color: var(--clr-bone);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    position: fixed;
    width: 100%;
}



/* dish description page ending */

/* top dishes page beginning */

.slider-header-container {
    background-size: cover;
    display: grid;
    grid-template-columns: .7fr 1fr;
    height: 100%;
    position: fixed;
    width: 100%;
}

/* top dishes page ending */

/*login*/
.login-container {
    align-items: center;
    background-color:var(--clr-gray);
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 2rem;
    width: 100vw;
    
}
.login {
    background: var(--clr-light-gray);
    border-radius: 3rem;
    padding: 3rem;
    width: 40vw;
}
/*login*/

/*sign up*/
 .sign-up-container {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
/*sign up*/



/*admin*/
.Admin-container{
    align-items: center;
    background-color:var(--clr-gray);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
    padding-top: 2rem;
    width: 100vw;

}
/*admin*/