.hero-container {
    display: flex;
    background: linear-gradient(0deg, rgba(16, 25, 69, 0.57), rgba(16, 25, 69, 0.57)), url(../../imgs/taco\ de\ res.jpg) no-repeat;
    background-size: cover;
    height: 60rem;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*categories page*/
.hero-container-categories {
    display: flex;
    background: linear-gradient(0deg, rgba(16, 25, 69, 0.57), rgba(16, 25, 69, 0.57)), url(../../imgs/taco\ de\ res.jpg) no-repeat;
    background-size: cover;
    height: 40rem;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

/* dish description page beginning*/
.header-container {
    background-color: var(--clr-bone);
    background-size: cover;
    display: grid;
    grid-template-columns: .8fr 1fr;
    height: 100%;
    position: fixed;
    width: 100%;
}

.header-image-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* dish description page ending */

/* top dishes page beginning */

.slider-header-container {
    background-size: cover;
    display: grid;
    grid-template-columns: .7fr 1fr;
    height: 100%;
    position: fixed;
    width: 100%;
}

/* top dishes page ending */