.nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-white);
    align-items: center;
    width: 100vw;
}

.nav-list {
    display: flex;
    list-style: none;
    font-size: var(--fs-sm);
    font-family: var(--ff-main);
    font-weight: var(--fw-md);
    gap: 2rem;
    margin-right: 1.5rem;
}

.nav-link {
    text-decoration: none;
    color: var(--clr-black);
    margin: 0;
    padding: 0;
}

.logo {
    width: 10rem;
}


/* dish description page beginning
.nav-2{
    align-content: center;
    align-items: center;
    background-color: var(--clr-white);
    display: grid;
    grid-template-columns: .20fr 1fr .50fr;
}

.nav-link-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.nav-link-2 {
    color: var(--clr-dark-grat);
    font-size: var(--fs-s);
    font-weight: var(--fw-md);
    text-decoration: none;
}


dish description page ending */