.hero-tittle {
    color: var(--clr-white);
    font-family: var(--ff-tittle);
    font-size: var(--fs-tittle);
    font-weight: var(--fw-rg);
    text-align: center;
}

.hero-text {
    color: var(--clr-white);
    font-family: var(--ff-main);
    font-size: clamp(var(--fs-xs), var(--fs-s), var(--fs-sm));
    font-weight: var(--fw-rg);
    margin: 1rem 0;
    text-align: center;
    width: 70vw;

}
.categories-tittle {
    color: var(--clr-black);
    font-family: var(--ff-main);
    font-size: var(--fs-lg);
    font-weight: var(--fw-lg);
    margin-top: 4rem;
    margin-bottom: 1rem;
}
.categorie-type {
    color: var(--clr-dark-gray);
    font-family: var(--ff-main);
    font-size: var(--fs-sm);
    font-weight: var(--fw-md);
    margin-bottom: 2rem;

}
.categories-main-tittle {
    color: var(--clr-cart);
    font-family: var(--ff-main);
    font-size: var(--fs-md);
    font-weight: var(--fw-bl);
    margin: 0 2.5rem;
    text-align: center;
}

.categorie-recipe {
    color: var(--clr-cart);
    display: block;
    font-family: var(--ff-main);
    font-size: var(--fs-sm);
    font-weight: var(--fw-lg);
    margin: 1rem;
    text-align: center;
    text-decoration: none;
}
.delights-tittle {
    color: var(--clr-white);
    font-family: var(--ff-main);
    font-size: var(--fs-lg);
    font-weight: var(--fw-rg);
    margin: 5rem;
    text-align: center;
}
.menu-tittle {
    color: var(--clr-cart);
    font-family: var(--ff-main);
    font-size: var(--fs-lg);
    font-weight: var(--fw-bl);
    gap: 1rem;
    margin: 3rem 5rem 2rem;
    text-align: center;

}
.Tittle-recipe {
    color: var(--clr-white);
    display: flex;
    font-family: var(--ff-main);
    font-size: var(--fs-md);
    font-weight: var(--fw-bl);
    margin: 1rem 0 0 0;
    justify-content: center;
    
}
.recipes {   
    display: flex;
    font-family: var(--ff-main);
    font-size: var(--fs-nm);
    font-weight: var(--fw-lg);
    text-align: left;
    color: var(--clr-white);
    margin: .9rem;
}

.recipes h3{   
    margin-top: 1rem;
}

.footer-container {
    color: var(--clr-cart);
    display: block;
    font-family: var(--ff-main);
    font-weight: var(--fw-lg);
    text-align: center;

}
.footer-tittle {
    font-size: 4rem;
    font-weight: var(--fw-rg);
    margin: 1.5rem;
}

.footer-text {
    font-weight: var(--fw-rg);
    margin: 1.5rem;
}
.copyright {
    font-weight: var(--fw-bl);
    margin: 1.5rem;
}

/* dish description page beginning*/

.header-title {
    display: flex;
    flex-direction: column;
    font-size: var(--fs-lg);
    font-weight: var(--fw-rg);
    font-family: var(--ff-main);
    color: var(--clr-purple);
    margin-top: 7rem;
}

.related-title{
    color: var(--clr-redline);
    font-family: var(--ff-main);
    font-size: var(--fs-nm);
    font-weight: var(--fw-bl);
    margin: 5rem 0 1.5rem 10rem;
}
/* .header-text {
    color: var(--clr-purple);
    display: grid;
    gap: 1rem;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding-right: 5rem;
    margin-top: 20%;
    margin-bottom: 20%;
} */

.header-description {
    font-size: var(--fs-nm);
    font-weight: var(--fw-rg);
    margin-top: 5rem;
    width: 50vw;
    color: var(--clr-purple);
    
}

.header-link {
    color: var(--clr-pink);
    font-size: var(--fs-xs);
    font-weight: var(--fw-rg);
    text-decoration: none;
}

.header-link-container {
    display: flex;
    gap: 5rem;
    margin-top: 1rem;
    margin-left: 1rem ;
}

.price-text {
    align-self: center;
    font-size: var(--fs-sm);
    font-weight: var(--fw-md);
    
}

.atc-btn-text {
    color: var(--clr-white);
    font-size: var(--fs-sm);
    font-weight: var(--fw-md);
    padding: 1rem;
    margin: 1rem 0;
}

.quantity-btn-text{
    align-self: center;
    color: var(--clr-white);
    font-size: var(--fs-sm);
    font-weight: var(--fw-md);
}
/* dish description page ending */

/* top dishes page beginning */
.nav-title-text {
    border-left: 0.219rem solid var(--clr-black);
    display: inline-block;
    font-size: var(--fs-md);
    font-weight: var(--fw-lg);
    padding-left: 1rem;
}

.header-title-top-dishes {
    flex-direction: column;
    font-size: var(--fs-lg);
    font-weight: var(--fw-rg);
    font-family: var(--ff-main);
    color: var(--clr-white);
    margin-top: 7rem;
}
.header-description-text{
    font-size: 1.5rem;
    font-weight: 400;
}
.copyright-text {
    font-size: var(--fs-s);
    font-weight: var(--fw-rg);
}
.swiper-slide-text{
    color: var(--clr-white);
    margin: 1rem;
    position: absolute; 
    text-align: end;
}
/* top dishes page ending */

/*Log in*/
.login-tittle {
    color: var(--clr-cart);
    font-family: var(--ff-main);
    font-size: var(--fs-lg);
    font-weight: var(--fw-md);
    margin: 1rem;

}

.remember-check {
    color: var(--clr-cart);
    font-family: var(--ff-main);
    font-size: var(--fs-xs);
    font-weight: var(--fw-md);
    margin-left: .5rem;
    margin-top: 1rem;
}

.forgot-password {
    color: var(--clr-redline);
    font-family: var(--ff-main);
    font-size: var(--fs-xs);
    font-weight: var(--fw-md);
    margin-left: 5rem;
    margin-top: 1rem;
}

.sign-text {
    color: var(--clr-cart);
    font-family: var(--ff-main);
    font-size: var(--fs-xs);
    font-weight: var(--fw-md);
    margin-top: 1rem;
}

.email {
    border-radius: 2rem;
    border: none;
    font-family: var(--ff-main);
    font-size: var(--fs-xs);
    font-weight: var(--fw-md);
    padding: 1rem;
    width: 35vw;
    
}
/*Log in*/
/*Sign up*/
.sign-up {
    color: var(--clr-cart);
    font-family: var(--ff-main);
    font-size: var(--fs-xs);
    font-weight: var(--fw-md);
    margin-left: 3rem;
    margin-top: 1rem;
}
/*Sign up */
/*admin*/
.admin-tittle{
    color: var(--clr-cart);
    font-family: var(--ff-main);
    font-size: var(--fs-md);
    font-weight: var(--fw-md);
}
/*admin*/
