.cta-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.hero-btn {
    background: var(--clr-secondary);
    border-radius: 1.5rem;
    color: var(--clr-cart);
    font-family: var(--ff-main);
    font-size: var(--fs-md);
    font-weight: var(--fw-md);
    padding: .5rem 5rem;
    text-align: center;
    text-decoration: none;
}

.recipes-container {
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    justify-content: center;
    justify-items: center;
    width: 100vw;
}

/* .card-container {
    height: 30rem;
    margin: 1.5rem;
    width: 30rem;
}

.card-container div {
    align-items: center;
    backface-visibility: hidden;
    border-radius: 3rem;
    display: grid;
    justify-content: center;
    position: absolute;
    transition: 1s;
} */

/* .card-image {
    height: 30rem;
    width: 30rem;
} */

/*GIRO*/

/* .front {

    transform: perspective(500px) rotateY(0deg);
}

.back {
    background: var(--clr-cart);
    height: 20rem;
    padding: 1rem;
    transform: perspective(500px) rotateY(180deg);
    width: 30rem;
}

.card-container:hover .front {
    transform: perspective(500px) rotateY(180deg);
}

.card-container:hover .back {

    transform: perspective(500px) rotateY(360deg);
}

/*GIRO*/

/* .more {
    left: 13rem;
    position: absolute;
    top: 27rem;
}
.link {
    margin: 1rem;
} */ */


/* dish description page beginning*/

.header-dish-image {
    width: 80%;
}

.atc-btn {
    background-color: var(--clr-redline);
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    width: 65%;
}


.quantity-btn{
    background: none;
    border-left: 2px solid var(--clr-white);
    border-right: 2px solid var(--clr-white);
    border: none;
    cursor: pointer;
    width: 100%;
}
/* dish description page ending */

/* top dishes page beginning */
.header-image-filter {
    background: url(../../imgs/filtro.png);
    background-size: cover;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1;
}
.order-btn{
    color: var(--clr-white);
    font-size: var(--fs-s);
    font-weight: var(--fw-md);
    margin-left: 1rem;
    text-decoration: none;
}

.order-btn{
    color: var(--clr-white);
    font-size: var(--fs-s);
    font-weight: var(--fw-md);
    margin-left: 1rem;
    text-decoration: none;
}

.swiperBackground{
    background-size: cover;
    display: grid;
    grid-template-columns: .7fr 1fr;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1;
}

.slider {
    height: 20rem;
    width: 10rem;
}

.swiper {
    height: 25rem;
    margin-top: 10rem;
    width: 50rem;
}

.swiper-slide{
    align-items: center;
    background: var(--clr-white);
    display: flex;
    font-size: 25px;
    justify-content: center;
    overflow: hidden;
    text-align: end;
}

.swiper-slide-border{
    border-radius: 1rem;
    border: 0.05rem solid var(--clr-white);
    box-sizing: border-box;
}

.slider-button{
    background-repeat: no-repeat;
    border-radius: 3rem;
    border: .05rem solid var(--clr-white);
    margin: .2rem;
}

.swiper-slide-image {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.slider-button-image-next{
    margin-left: 2.3rem;
    margin-top: 1.9rem;
    width: 1rem;
}
.slider-button-image-preview{
    
    margin-left: 1.9rem;
    margin-top: 1.9rem;
    width: 1rem;
}
.swiper-slide-background{
    align-items: center;
    border-radius: 1rem;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
/* top dishes page ending */

/*login*/
.login-btn {
    background: var(--clr-redline);
    border-radius: 1.5rem;
    border: none;
    color: var(--clr-white);
    font-family: var(--ff-main);
    font-size: var(--fs-sm);
    font-weight: var(--fw-md);
    padding: .4rem 4rem;
    text-align: center;
    text-decoration: none;
}

.check{
    width: 1rem;
    height: 1rem;
}
/*login*/
/*admin*/
.check-recipe{
    width: 2rem;
    height: 2rem;
}


.delights-check{
    color: var(--clr-cart);
    font-family: var(--ff-main);
    font-size: var(--fs-sm);
    font-weight: var(--fw-md);
    
}
.delete{
    border-radius: 2rem;
    border: none;
    font-family: var(--ff-main);
    font-size: var(--fs-xs);
    font-weight: var(--fw-md); 
    padding: 1rem;
    width: 30vw;

}
.delete-btn{
    background: var(--clr-redline);
    border-radius: 1.5rem;
    border: none;
    color: var(--clr-white);
    font-family: var(--ff-main);
    font-size: var(--fs-sm);
    font-weight: var(--fw-md);
    margin: 1rem;
    padding: .4rem 4rem;
    text-align: center;
    text-decoration: none;
}
/*admin*/