:root {
    /*fonts */
    --ff-main: 'Outfit', sans-serif;
    --ff-tittle: 'Poiret One', sans-serif;
    /*font size*/
    --fs-tittle: 12rem;  /*160px*/
    --fs-xl: 8rem; /*128px*/
    --fs-lg: 5rem; /*80px*/
    --fs-md: 2.5rem; /*40px*/
    --fs-nm: 1.8rem; /*28.8px*/
    --fs-sm: 1.7rem; /*27.2px*/
    --fs-s: 1.5rem; /*24px*/
    --fs-xs: 1.3rem; /*20.8px*/
    --fs-xxs:.8rem; /*12.8px*/

    /*font weight*/
    --fw-bk:900;
    --fw-bl: 700 ;
    --fw-md: 500;
    --fw-rg: 400;
    --fw-lg: 300 ;

    /*colors*/

    --clr-secondary: #D7ED32;
    --clr-cart: #2D1D37;
    --clr-white: #ffffff;
    --clr-bone: #F5F5F5;
    --clr-black:#000000;
    --clr-redline:#E60000;
    --clr-gray: #F7F7F7;
    --clr-light-gray: #e1e1e1;
    --clr-dark-gray: #333333;
    --clr-purple:#403e54;
    --clr-pink: #8a88b0;

    /* swiper slider custom propeties */
    --swiper-scrollbar-bottom: 0px; /*debe mantenerse en px*/
    --swiper-scrollbar-bg-color: white
}